---
import "../css/generel.css";
const { label, choose, option1, option2, option3, option4, option5, option6, option_plus } = Astro.props;
---

<div class="label">
  <label for="indhold">{label}</label>
  <select name={choose} id="category">
    <option value="choice">{choose}</option>
    <option value="1pers">{option1}</option>
    <option value="2pers">{option2}</option>
    <option value="3pers">{option3}</option>
    <option value="4pers">{option4}</option>
    <option value="5pers">{option5}</option>
    <option value="6pers">{option6}</option>
    <option value="plus_pers">{option_plus}</option>
  </select>
</div>

<style></style>
