---
import "../css/generel.css";
import Button from "../components/Button.astro";
const { image, alt, image2, alt2, headline, pris, text } = Astro.props;
---

<div class="first_grid">
  <figure class="img_container">
    <img src={image} alt={alt} />
  </figure>
  <div class="text_box">
    <div class="order1">
      <img class="img_vin" src={image2} alt={alt2} />
      <h1>{headline}</h1>
      <h2>{pris}</h2>
    </div>
    <div class="order3">
      <p>{text}</p>
    </div>
    <div class="knap"><Button text="BESTIL NU" /></div>
  </div>

  <style>
    figure.img_container img {
      border-radius: 40px;
    }
    .img_vin {
      margin-top: 10px;
      height: 40vw;
    }
    .first_grid {
      gap: 30px;
      margin-inline: 40px;
    }

    .text_box {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
    .knap {
      margin: 20px 0 40px 0;
      align-self: center;
      order: -2;
    }
    .order1 {
      order: -3;
      text-align: center;
      gap: 10px;
    }
    .order3 {
      order: -1;
    }

    @media (min-width: 750px) {
      .first_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .first_grid:first-child {
        align-items: center;
      }
      .text_box {
        padding: 40px;
      }

      .img_vin {
        height: 20vw;
      }
      .knap {
        margin-top: 20px;
        align-self: flex-start;
      }

      .knap,
      .order1,
      .order3 {
        order: 0;
      }
    }
  </style>
</div>
